* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    position: relative;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    background-color: #333;
    color: #ccc;
    display: flex;
    align-items: center;
}
.headerWlinks {
    justify-content: space-around;

}

.headerNLinks {
    justify-content: center;

}


footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
}


header ul {
    display: flex;
    text-decoration: underline;
    list-style: none;
}

header ul li {
    padding: 0 20px;
}
header ul li a {
    color: #ccc;
}   

